.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: rgba(7, 155, 213, 0.493);
	background-color: aliceblue;
	font-family: fantasy;
}

